<div class="row header position-relative">
  <div class="header-top-block"></div>
  <div class="col-12">
    <div class="container">
      <div class="row py-3">
        <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
          <div class="row w-100 py-3">
            <div class="col-12 text-white header-text">
              <h1>Laszlo Csele (Lacka)</h1>
              <h2>Software developer</h2>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
          <div class="header-avatar-block"></div>
        </div>
        <div class="col-12"></div>
      </div>
    </div>
  </div>
</div>
