<div class="row p-3 info">
  <div class="col-12">
    <div class="info-content">
      <i class="info-content-icon fas fa-user"></i>
      <div>
        I'm Lacka, a {{ age }} year old front-end developer from Hungary.
      </div>
      <div>
        I'm a huge enthusiast of Typescript, Angular and other web technologies.
      </div>
    </div>
  </div>
</div>

<div class="row p-3 info">
  <div class="col-12">
    <div class="info-content">
      <i class="info-content-icon fas fa-envelope"></i>
      <a href="mailto:lacka@codingsans.com">lacka@codingsans.com</a>
    </div>
    <div class="info-content">
      <i class="info-content-icon fab fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/l%C3%A1szl%C3%B3-csele-008754a5/">Laszlo Csele</a>
    </div>
  </div>
</div>

<div class="row p-3 info">
  <div class="col-12">
    <div class="info-content">
      <i class="info-content-icon fas fa-clipboard-list"></i>
      <h4>Professional Skills</h4>
      <app-skill name="TypeScript" [value]="90"></app-skill>
      <app-skill name="Javascript" [value]="80"></app-skill>
      <app-skill name="HTML & CSS" [value]="75"></app-skill>
      <app-skill name="Node JS" [value]="85"></app-skill>
    </div>
  </div>
</div>