.skill {

  &-bar {
    height: 1px;
    background-color: white;
    position: relative;

    &-track {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &-wrapper {
      padding: 15px 0;
      padding-right: 40px;
    }

    &-point {
      width: 7px;
      height: 7px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      top: -3px;
    }
  }
}