<div class="mt-5">
  <app-cv-block>
    <h3>Work experiences</h3>
    <app-work-row
      name="Coding Sans Zrt."
      from="Jan 2015"
      to="Present"
      description="Co-Founder and Front-end lead developer">
    </app-work-row>
    <app-work-row
      name="SOPRESO"
      from="Aug 2014"
      to="Dec 2014"
      description="Front-end developer">
    </app-work-row>
    <app-work-row
      name="Syncnet Kft."
      from="Feb 2013"
      to="Jul 2014"
      description="Java EE developer and Android Game developer">
    </app-work-row>
  </app-cv-block>
</div>

<div class="mt-5">
  <app-cv-block>
    <h3>Education</h3>
    <app-work-row
      name="Eötvös Loránd University"
      from="2010"
      to="2014"
      description="Bachelor of Science (BSc), Computer Science, Software Engineer">
    </app-work-row>
    <app-work-row
      name="Wigner Jenő Technical School of Information Technology"
      from="2005"
      to="2010"
      description="Front-end developer">
    </app-work-row>
  </app-cv-block>
</div>

<div class="mt-5">
  <app-cv-block icon="fa-maps">
    <h4>Visitors</h4>
    <div id="map" class="map"></div>
  </app-cv-block>
</div>